<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Congratulations!! You just killed <%= @kills.target.first_name %>!</h1>
    <p>
      You're doing well! Keep going!<br>
    </p>
    <p>
      You're next target is <b><%= @user.target.first_name %> <%= @user.target.last_name %></b>.
    </p>
    <p>
      Be sure to kill your new target in the next 24 hours starting now - <%= DateTime.now.to_formatted_s(:long_ordinal) %>, or the terminators will come after you.
    </p>
    <p>
      Lastly, don't forget your kill code <b><%= @user.kill_code %></b>!
    </p>
    <p>Good Job and Good Luck!</p>
  </body>
</html>