<% content_for :title, "Report a Kill!" %>

<% if !@kill.nil? %>
	<% @kill.errors.full_messages.each do |msg| %>
  		<p><%= msg %></p>
  	<% end %>
<% end %>

<div class="form-container">
<%= form_for(@kill, method: :post, url: {action: :post_report}) do |form| %>
	<%= form.text_field(:code, :class => "form-control", :placeholder => "Target's kill code (e.g. 1234)") %>
	<%= hidden_field_tag(:lat, "") %>
	<%= hidden_field_tag(:lng, "") %>
	<br>
	<%= form.text_area(:description, :class => "form-control", :placeholder => "Description of your kill. (ex. I jumped out of the window after them and shot them as we fell to the ground).", size: "24x6") %>
	<br>
	<button class="btn btn-lg btn-primary btn-block" type="submit">Report Kill</button>
<% end %>
</div>