<% flash.each do |name, msg| %>
<div class="alert alert-<%= name == :notice ? "success" : "error" %>">
  <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
</div>
<% end %>
<%=  %>

<% if session[:current_user_id].nil? %>
  	<% content_for :title, "Welcome to Assassins" %>
  		<%= link_to 'Login', signin_path %>
<% else %>
	<% @current_user = User.find(session[:current_user_id]) %>
	<% if @current_user.is_admin? %>
	  	<% content_for :title, "Game Manager" %>
	  	<h3>Current Game:</h3>
	  	<% if @current_games.size == 0 %>
	  		<p>You don't have any games right now. Make a <%= link_to "new game", controller: :games, action: :new %>!</p>
	  	<% else %>
	  		<% @current_games.each do |game| %>
				<% users = game.players.order(:first_name) %>
			  	<p><b><%= game.name %></b></p>
				<% if game.is_started? %>
					<div class="row">
						<div class="col-md-3">
							<p><b>Alive</b></p>
							<% users.each do |user| %>
								<% if user.status == "alive" %>
									<p><%= user.full_name %> </p>
								<% end %>
							<% end %>
						</div>
						<div class="col-md-3">
							<p><b>Dead</b></p>
							<% users.each do |user| %>
								<% if user.status == "dead" %>
									<p><%= user.full_name %> </p>
								<% end %>
							<% end %>
						</div>
						<div class="col-md-3">
							<p><b>Kills</b></p>
							<% kills = Kill.where(:game => game) %>
							<% kills.each do |kill| %>
								<p>
								Assassin: <%= kill.assassin.full_name %><br>
								Target: <%= kill.target.full_name %><br>
								Time Stamp: <%= kill.time_killed.to_formatted_s(:long_ordinal) %><br>
								Description: <%= kill.description %>
								</p>
							<% end %>
						</div>
						<div class="col-md-3">
							<p><b>To Be Terminated</b></p>
							<% users.each do |user| %>
								<% if user.status == "alive" && DateTime.now > user.term_date %>
									<p><%= user.full_name %> </p>
									<% url = "kills/terminate?id=" + user.id.to_s %>
									<%= form_tag(url) do |f| %>
										<%= hidden_field_tag(:lat, "") %>
										<%= hidden_field_tag(:lng, "") %>
										<button class="btn btn-lg btn-primary btn-block" type="submit">Terminate!</button> <br>
									<% end %>
								<% end %>
							<% end %>
						</div>
					</div>

					<!-- Kill Ring -->
					<div class="row"><div class="col-md-3">
						<% users.each do |user| %>
							<% if user.status == "alive" %>
								<% top = @total * 14 * (1 - Math.cos(user.killring_degrees)) %>
								<% left = @total * 14 * (1 + Math.sin(user.killring_degrees)) %>
								<% style_str = "position:absolute;width:100px;height:0.75px;left:" + left.to_s %>
								<% style_str = style_str + "px;top:" + top.to_s + "px" %>
								<div style=<%= style_str %> ><center><%= user.full_name %></center></div>
								<br>
								<br>
							<% end %>
						<% end %>
						<br>
					</div></div>
				<% else %>
					<div class="row"><div class="col-md-3">
						<% url = "games/start?id=" + game.id.to_s %>
						<%= form_tag(url) do |f| %>
			  				<button class="btn btn-lg btn-primary btn-block" type="submit">Start Game!</button>
						<% end %>
					</div></div>
				<% end %>
				<% if game.is_started then %>
					<div class="row">
						<p><b>Last few messages:</b></p>
					</div>
					<div class="row">
						<% count = 0 %>
						<% messages = game.messages.reverse_order %>
						<% if !messages.nil? %>
							<% messages.each do |message| %>
								<% if !message.deleted?  && count < 4%>
									<div class="col-md-3">
										<h6>Time: <%= message.post_date.to_formatted_s(:long_ordinal) %></h6>
										<b><%= message.content %></b><br>
										<h6> Posted by: <%= message.player.full_name %></h6>
										<% url = "messages/delete?id=" + message.id.to_s %>
										<div class="form-container">
											<%= form_tag(url) do |f| %>
												<button class="btn btn-lg btn-primary btn-block" type="submit">Delete Post</button> <br>
											<% end %>
										</div>
										<% count = count + 1 %>
									</div>
								<% end %>
							<% end %>
						<% end %>
					</div>
				<% end %>
			<% end %>
	  	<% end %>
		
		<br>

	  	<h3>Past Games</h3>
		<% @past_games.each do |game| %>
			<p><b><%= game.name %></b></p>
			<% users = game.players.order(:first_name) %>
			<div class="row">
				<div class="col-md-4">
					<p><b>Winner</b></p>
					<% users.each do |user| %>
						<% if user.status == "alive" %>
							<p><%= user.full_name %> </p>
						<% end %>
					<% end %>
				</div>
				<div class="col-md-4">
					<p><b>Dead</b></p>
					<% users.each do |user| %>
						<% if user.status == "dead" %>
							<p><%= user.full_name %> </p>
						<% end %>
					<% end %>
				</div>
				<div class="col-md-4">
					<p><b>Kills</b></p>
					<% kills = Kill.where(:game_id => game.id) %>
					<% kills.each do |kill| %>
						<p>
						Assassin: <%= kill.assassin.full_name %><br>
						Target: <%= kill.target.full_name %><br>
						Time Stamp: <%= kill.time_killed.to_formatted_s(:long_ordinal) %>
						</p>
					<% end %>
				</div>
			</div>
				<div class="row">
					<p><b>Last few messages:</b></p>
				</div><div class="row">
					<% count = 0 %>
					<% messages = game.messages.reverse_order %>
					<% if !messages.nil? %>
						<% messages.each do |message| %>
							<% if !message.deleted?  && count < 4%>
								<div class="col-md-3">
									<h6>Time: <%= message.post_date.to_formatted_s(:long_ordinal) %></h6>
									<b><%= message.content %></b><br>
									<h6> Posted by: <%= message.player.full_name %></h6>
									<% url = "messages/delete?id=" + message.id.to_s %>
									<div class="form-container">
										<%= form_tag(url) do |f| %>
											<button class="btn btn-lg btn-primary btn-block" type="submit">Delete Post</button> <br>
										<% end %>
									</div>
									<% count = count + 1 %>
								</div>
							<% end %>
						<% end %>
					<% end %>
				</div>
		<% end %>
	<% elsif @current_user.game_id.blank? %>
		<p> You haven't signed up for a game yet.</p>
			<p><%= link_to "Join a game", controller: :games, action: :join %> now! </p>

	<% elsif !@current_user.game.is_started %>
		<p> Your game, <%= @current_user.game.name %>, has not started yet. </p>
		<p> Prepare yourself for the battle. </p>
		<p> You will receive an email when the game begins and can check here periodically for its status. </p>
		<p> And don't forget your kill code: <b><%= @current_user.kill_code %>. </p>
		<div class="row">
			<br><br><b>Last few messages:</b>
		</div><div class="row">
			<% count = 0 %>
			<% messages = @current_user.game.messages.reverse_order %>
			<% if !messages.nil? %>
				<% messages.each do |message| %>
					<% if !message.deleted?  && count < 4%>
						<div class="col-md-3">
							<h6>Time: <%= message.post_date.to_formatted_s(:long_ordinal) %></h6>
							<b><%= message.content %></b><br>
							<% count = count + 1 %>
						</div>
					<% end %>
				<% end %>
			<% end %>
			<% if count == 0 %>
				There are no messages! <%= link_to "Post a Message!", controller: :messages, action: :new %>
			<% end %>
		</div>

	<% elsif @current_user.status == "dead" %>
		<p> Thank you for playing assassins. </p>
		<p> We wish you better luck in the next round. </p><br><br>
		<% if @current_user.game.has_ended? then %>
			<b><p> History of Kills for Your Game </p></b>
			<% @current_user.game.kills.each do |kill| %>
				<p>
				Assassin: <%= kill.assassin.full_name %><br>
				Target: <%= kill.target.full_name %><br>
				Time Stamp: <%= kill.time_killed.to_formatted_s(:long_ordinal) %><br>
				Description: <%= kill.description %>
				</p>
			<% end %>
		<% end %>
		<div class="row">
			<br><br><b>Last few messages:</b>
		</div><div class="row">
			<% count = 0 %>
			<% messages = @current_user.game.messages.reverse_order %>
			<% if !messages.nil? %>
				<% messages.each do |message| %>
					<% if !message.deleted?  && count < 4%>
						<div class="col-md-3">
							<h6>Time: <%= message.post_date.to_formatted_s(:long_ordinal) %></h6>
							<b><%= message.content %></b><br>
							<% count = count + 1 %>
						</div>
					<% end %>
				<% end %>
			<% end %>
			<% if count == 0 %>
				There are no messages! <%= link_to "Post a Message!", controller: :messages, action: :new %>
			<% end %>
		</div>

	<% elsif @current_user.target == @current_user %>
		<h3>
			<p>YOU WON!!</p>
			<p>CONGRATULATIONS!!</p><br><br>
			<b><p> History of Kills for Your Game </p></b>
			<% @current_user.game.kills.each do |kill| %>
				<p>
				Assassin: <%= kill.assassin.full_name %><br>
				Target: <%= kill.target.full_name %><br>
				Time Stamp: <%= kill.time_killed.to_formatted_s(:long_ordinal) %><br>
				Description: <%= kill.description %>
				</p>
			<% end %>
		</h3>
		<div class="row">
			<br><br><b>Last few messages:</b>
		</div><div class="row">
			<% count = 0 %>
			<% messages = @current_user.game.messages.reverse_order %>
			<% if !messages.nil? %>
				<% messages.each do |message| %>
					<% if !message.deleted?  && count < 4%>
						<div class="col-md-3">
							<h6>Time: <%= message.post_date.to_formatted_s(:long_ordinal) %></h6>
							<b><%= message.content %></b><br>
							<% count = count + 1 %>
						</div>
					<% end %>
				<% end %>
			<% end %>
			<% if count == 0 %>
				There are no messages! <%= link_to "Post a Message!", controller: :messages, action: :new %>
			<% end %>
		</div>
			
	<% else %>
		<p> It is currently <%= DateTime.now.to_formatted_s(:long_ordinal) %>. </p>
			<% if DateTime.now > @current_user.term_date %>
				<p> You are currently a target for the terminators! </p>
				<p> Kill your target as soon as possible before they kill you! </p>
				<p> Your target is: <b><%= @current_user.target.full_name %></b>. </p>
				<p> Your kill code is: <b><%= @current_user.kill_code %></b>. </p>
			<% else %>
				<p> Your target is: <b><%= @current_user.target.full_name %></b>. </p>
				<p> Your kill code is: <b><%= @current_user.kill_code %></b>. </p>
				<p> You have until <%= @current_user.term_date.to_formatted_s(:long_ordinal) %> before the terminators come after you. </p>
				<p> Kill your target to extend the deadline! </p>
			<% end %>
		<div class="row">
			<br><br><b>Last few messages:</b>
		</div><div class="row">
			<% count = 0 %>
			<% messages = @current_user.game.messages.reverse_order %>
			<% if !messages.nil? %>
				<% messages.each do |message| %>
					<% if !message.deleted?  && count < 4%>
						<div class="col-md-3">
							<h6>Time: <%= message.post_date.to_formatted_s(:long_ordinal) %></h6>
							<b><%= message.content %></b><br>
							<% count = count + 1 %>
						</div>
					<% end %>
				<% end %>
			<% end %>
			<% if count == 0 %>
				There are no messages! <%= link_to "Post a Message!", controller: :messages, action: :new %>
			<% end %>
		</div>
	<% end %>
<% end %>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
<%= javascript_include_tag 'maps' %> 