
<% content_for :title, "Login!" %>

<div class="form-container">
<% if !@user.nil? %>
	<% @user.errors.full_messages.each do |msg| %>
  		<p><%= msg %></p>
  	<% end %>
<% end %>

<%= form_for(@user, method: :post, url: {action: :post_login}) do |form| %>
	<%= form.text_field(:login, :class => "form-control", :placeholder => "Login name") %> <br>
	<%= form.password_field(:password, :class => "form-control", :placeholder => "Password") %><br>
	
	<button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
<% end %>
<br>

<%= link_to "Register instead?", controller: :users, action: :new %>
</div>

<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button>

<div id="status">
</div>

<%= javascript_include_tag 'fb' %> 
