<% content_for :title, "New Game!" %>

<% if !@game.nil? %>
	<% @game.errors.full_messages.each do |msg| %>
  		<p><%= msg %></p>
  	<% end %>
<% end %>

<%= form_for(@game, method: :post, url: {action: :create}) do |form| %>
	<%= form.label(:name, "Game name: ") %>
	<%= form.text_field(:name) %>
	<%= form.label(:code, "Game code: ") %>
	<%= form.text_field(:code) %>
	
	<%= form.label(:reg_start, "Registration start: ") %>
	
	<%= form.datetime_local_field(:reg_start) %>
	
	<%= form.label(:reg_end, "Registration end: ") %>
	
	<%= form.datetime_local_field(:reg_end) %>
	
	<%= form.label(:game_start, "Game start: ") %>
	
	<%= form.datetime_local_field(:game_start) %>
	<br>
	<%= submit_tag("Create new game!") %>
<% end %>