<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
	<header class="navbar navbar-fixed-top navbar-inverse">
		<div class="navbar-inner">
			<div class="container">
				<%= DateTime.now %>
				<% if !session[:current_user_id].nil? %>
					<% @current_user = User.find(session[:current_user_id]) %>
					<%= "Hi, " %>
					<%= link_to  "#{@current_user.full_name}", controller: :users, action: :index, id: @current_user.id %>
					<%= link_to  "Logout!", controller: :users, action: :logout %>
				<% else %>
				<%= link_to "Login!", controller: :users, action: :login %>
				<% end %>
				<nav>
					<ul class="nav pull-right">
						<li><%= link_to "Join Game", controller: :games, action: :join %></li>
						<li><%= link_to "New Game", controller: :games, action: :new %></li>
						<li><%= link_to "Report Kill", controller: :kills, action: :report %></li>
						<li><%= link_to "Kill History", controller: :kills, action: :history %></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>

	<div class="container">
		<%= yield %>
	</div>

</body>


</html>
